{% extends 'base.html' %}

{% block title %}
  DEACTIVATE
{% endblock %}

{% block content %}
<main class="form-auth form-signin w-100 m-auto" style="max-width: 300px; text-align: center">
  <form method="post">
    {% csrf_token %}
    <div class="h2 mb-3 fw-normal text-nowrap">Deactivate form</div>
    <p style="margin-top: 12px; font-size: 20px">Are you sure you want to deactivate your account?</p>
    <a class="w-100 btn btn-outline-primary shadow" style="font-size: 16px; margin-bottom: 6px" href="{% url 'user:profile_page' username=request.user.username %}">Back</a>
    <button class="w-100 btn btn-lg btn-outline-danger shadow" style="font-size: 16px;" type="submit">Deactivate account</button>

  </form>

</main>
{% endblock %}