{% extends 'base.html' %}

{% block title %}
  SET-PASSWORD
{% endblock %}

{% block content %}
<main class="form-auth form-signin w-100 m-auto" style="max-width: 300px; text-align: center">
  <form method="post">
    {% csrf_token %}
    <div class="h3 mb-3 fw-normal text-nowrap">Set new password</div>
    <p>Enter your old password: </p>
    <div class="form-floating" style="margin-bottom: 4px">
      {{ form.old_password }}
      <label for="new_password">{{ form.old_password.label }}</label>
    </div>
    <div>{{ form.old_password.errors }}</div>
    <p>Create new password:</p>
    <div class="form-floating" style="margin-bottom: 4px">
      {{ form.new_password }}
      <label for="new_password">{{ form.new_password.label }}</label>
    </div>
    <div>{{ form.new_password.errors }}</div>

    <div class="form-floating" style="margin-bottom: 4px">
      {{ form.confirm_password }}
      <label for="confirm_password">{{ form.confirm_password.label }}</label>
    </div>
    <div>{{ form.confirm_password.errors }}</div>

    <a class="w-100 btn btn-outline-primary shadow" style="font-size: 16px; margin-bottom: 6px" href="{% url 'user:profile_page' username=request.user.username %}">Back</a>
    <button class="w-100 btn btn-lg btn-outline-dark shadow" style="font-size: 16px;" type="submit">Confirm</button>
  </form>
</main>
{% endblock %}