{% extends 'base.html' %}

{% block title %}
  SET-DATA
{% endblock %}

{% block content %}
<main class="form-auth form-signin w-100 m-auto" style="max-width: 300px; text-align: center">
  <form method="post">
    {% csrf_token %}
    <div class="h3 mb-3 fw-normal text-nowrap">Set your data</div>

    <div class="form-floating" style="margin-bottom: 4px">
      {{ form.first_name }}
      <label for="first_name">{{ form.first_name.label }}</label>
    </div>

    <div class="form-floating" style="margin-bottom: 4px">
      {{ form.last_name }}
      <label for="second_name">{{ form.last_name.label }}</label>
    </div>

    <div class="form-floating" style="margin-bottom: 4px">
      {{ form.email }}
      <label for="email">{{ form.email.label }}</label>
    </div>

    <a class="w-100 btn btn-outline-primary shadow" style="font-size: 16px; margin-bottom: 6px" href="{% url 'user:profile_page' username=request.user.username %}">Back</a>
    <button class="w-100 btn btn-lg btn-outline-dark shadow" style="font-size: 16px;" type="submit">Save</button>
  </form>
</main>
{% endblock %}