{% extends 'base.html' %}

{% block title %}
  PROFILE
{% endblock %}

{% block content %}
  <div style="padding: 10px">
    <h2>{{ user.username }} {% if user.get_full_name %}(<a>{{ user.get_full_name }}</a>) {% endif %}</h2>
    {% if users_articles %}
      <p style="margin-bottom: 0; font-size: 20px">Author of these articles:</p>
    {% endif %}
    <ul>
      {% for article in users_articles %}
        <li><a style="color: black; text-decoration: none" href="{% url 'articles:one_article' article_slug=article.slug %}">{{ article.title }}</a></li>
      {% endfor %}
    </ul>
    {% if request.user == user %}
    {% if recommendation %}
      <p style="margin-bottom: 0; font-style: italic; font-size: 20px">Recommended articles for you:</p>
      <ul>
        {% for article in recommendation %}
          <li><a style="color: black; text-decoration: none" href="{% url 'articles:one_article' article_slug=article.slug %}">{{ article.title }}</a></li>
        {% endfor %}
      </ul>

    {% endif %}

    <p style="margin-bottom: 0; font-style: italic; font-size: 20px">Topics Settings:</p>
      <ul>
        {% for topic in ordered_topics %}
          <li>
            <a style="color: black; text-decoration: none" href="{% url 'topics:one_topic' topic_title=topic.topic.title %}">{{ topic.topic.title }}</a>
            {% if topic.priority == 2 %}
              <a style="margin-left: 36px; color: green">Preferred</a>
              <a href="{% url 'topics:unsub_topic' topic_title=topic.topic.title %}" style="margin-left: 12px; color: green">Notified</a>
            {% elif topic.priority == 1 %}
              <a style="margin-left: 36px; color: green">Preferred</a>
              <a href="{% url 'topics:sub_topic' topic_title=topic.topic.title %}" style="margin-left: 12px; color: red">Notify Me</a>
            {% else %}
              <a style="margin-left: 36px; color: red">Prefer</a>
              <a href="{% url 'topics:sub_topic' topic_title=topic.topic.title %}" style="margin-left: 12px; color: red">Notify Me</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>

    <a style="color: black; margin-right: 20px;" href="{% url 'user:set_data' username=user.username %}">Set data</a>
    <a style="color: black;" href="{% url 'user:set_password' username=user.username %}">Set password</a>
    <p><a style="color: black", href="{% url 'user:deactivate' %}">Deactivate account</a></p>
    {% endif %}
  </div>

{% endblock %}