{% extends 'base.html' %}

{% block title %}
  ARTICLE
{% endblock %}

{% block content %}
  <div style="padding: 10px 20px; text-align: center">
    <div style="margin-bottom: 6px; text-align: end">
      {% for topic in article.topics.all %}
        <a href="{% url 'topics:one_topic' topic_title=topic.title %}" style="color: rgba(0, 0, 0, 0.48); margin-right: 4px">{{ topic.title }}</a>
      {% endfor %}
    </div>
    <p style="text-align: end">Posted by <a href="{% url 'user:profile_page' username=article.author.username %}" style="color: black">{{ article.author }}</a></p>

    <h1><a href="" style="color: black; text-decoration: none">{{ article.title }}<a></h1>

    <p>{{ article.content }}</p>
    <p style="text-align: end; margin-bottom: 0; color: rgba(0, 0, 0, 0.48)">Created at: {{ article.created_at }}</p>
    <p style="text-align: end; color: rgba(0, 0, 0, 0.48)">Last update at: {{ article.updated_at }}</p>

    <div style="text-align: end">
      <a style="margin-left: 6px; color: black; text-decoration: none" href="{% url 'articles:upd_article' article_slug=article.slug %}">Update</a>
      <a style="margin-left: 6px; color: black; text-decoration: none" href="{% url 'articles:del_article' article_slug=article.slug %}">Delete</a>
    </div>


    {% if comments or request.user.is_authenticated %}
      <h2 style="text-align: left; font-style: italic">Comments</h2>
    {% endif %}
    {% for comment in comments %}
      <div style="margin-bottom: 12px; text-align: left">
        <p><a style="color: black; font-weight: bold" href="{% url 'user:profile_page' username=comment.author.username%}">{{ comment.author }}:</a> <a style="color: rgba(0, 0, 0, 0.64)">({{ comment.created_at}})<a/></p>
        <p>{{ comment.message }}</p>
      </div>
    {% endfor %}
    {% if request.user.is_authenticated %}
      <form method="post">
        {% csrf_token %}

        <div class="form-floating" style="margin-bottom: 4px">
          {{ form.message }}
          <label for="message">{{ form.message.label }}</label>
          <div>{{ form.title.errors }}</div>
        </div>
        <div>{{ form.title.errors }}</div>
        <button class="w-100 btn btn-lg btn-outline-dark shadow" type="submit">Create</button>
      </form>
    {% endif %}
  </div>

{% endblock %}